.Main_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.popRegister,
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    gap: 1rem;
    width: clamp(240px, 34vw, 350px)
}

.popRegister.cLogin{
    display: none;
}
.container.cForm{
    display: none;
}


.popRegister > .TitleName{
    font-size: clamp(32px, 14vw, 50px);
    background: linear-gradient(115deg, rgba(179, 0, 255, 1) 0%, rgb(121 57 145) 49%, rgb(102 3 141) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.TitleName {
    font-weight: bold;
}

.inputUserName {
    border: none;
    background: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-left: 1rem;
    font-size: clamp(1em, 1.5vw, 1.5rem);
    font-weight: bold;
}


.inputUserName:focus {
    outline: none;
}

.btn_connect_disable {
    border: none;
    background: #d0e1fd;
    border-radius: 1rem;
    height: 3rem;
}

.btn_connect {
    border: none;
    background: #d0e1fd;
    border-radius: 1rem;
    height: 3rem;
    box-shadow: -3px 4px 10px -9px rgb(0 0 0);
}

.btn_connect:hover {
    border: none;
    background: #d0e1fd;
    border-radius: 1rem;
    height: 3rem;
    box-shadow: -7px 5px 17px -11px rgb(0 0 0 / 79%);
}

@media screen and (max-width: 64em) {}