/*Animation Typing*/
.Typing{
    background:rgba(255, 255, 255, 0);
    display: flex;
    width: 64px;
    height:32px;
    justify-content:center;
    align-items:center;
    gap:5px
  }
  .c{
    background:rgb(175, 182, 196);
    width: 12px;
    height:12px;
    border-radius:64px;
    scale:0
    
  }
  .c:nth-child(1){
    animation: Animation 1.5s infinite linear;
    animation-delay: 0.0s;
  }
  .c:nth-child(2){
    animation: Animation 1.5s infinite linear;
    animation-delay: 0.25s;
  }
  .c:nth-child(3){
    animation: Animation 1.5s infinite linear;
    animation-delay: 0.5s;
  }
  @keyframes Animation{
    0% {
      scale : 0
    }
    50%{
       scale : 1
    }
    100%{
       scale : 0
    }
  }

  .MO{
    display: flex !important;
  }
  .menu{
    display: none;
  }
  
/*End Animation Typing*/
.mainContainer {
    height: 100%;
    /*background: #E3EAF6;*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
}

.headerUser{
    width: 100%;

}
.boxContainer{
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    max-height: calc(100vh - 94px);
    border-radius: 16px;
    overflow: hidden;
}

.boxContact {
    display: flex;
    height: 100%;
    width: 25rem;
    /*border: 1px solid black;*/
    /*background: rgb(255, 223, 223);*/
    flex-direction: column;

}

.infoUser {
    height: 46px;
    /*width: 100%;*/
    /*background: gray;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* width: 21rem;*/
    /*margin-left: 1rem;*/
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;

}

.UserName {
    display: flex;
    align-items: center;
}



.userID {
    display: flex;
    gap: 2rem;
    height: 2rem;
}

.userFriendID {
    display: flex;
    gap: 2rem;
}


.listContactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.listContactBox {
    /*background: rgb(255, 255, 255);*/
    background-color: rgb(227 234 246);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.searchBox {
    margin-top: 1rem;
}

.searchBar {
    height: 2rem;
    width: 15rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background: #dfdfdf;
    border: none;
    padding-left: 1rem;
    display: none;
}

.searchBar:focus {
    outline: none;
}

.listContact {
    margin-top: 1rem;
    
    /*background: beige;*/
    /*border-radius: 1rem;*/
    overflow-y: auto;
    display: flex;
    padding: 0;
}

.listContact::-webkit-scrollbar {
    display: none;
}

.linkCard {
    height: 100%;
}

.listCard {

    list-style: none;
    padding: 0;
    /*overflow-y: auto;*/
    width: 100%;
    /*margin: 0;*/

}

.cardItem {

    /*background: bisque;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;

}

.cardItem:hover {
    box-shadow: 0rem 0px 1rem 0rem rgba(0, 0, 0, .2);
}

.cardLinkBox {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    align-items: center;
}

._active {
    background: #e1e1e1 !important;
}

.picProfilBox {
    display: flex;
    align-items: center;
}

.nameMessageBox{
    width: 125px;
}

.picProfil {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.grp_ico {
    display: flex;
    gap: 1rem;
}

.icoLogout {
    width: 1.5rem;
}

.icoNotif {
    width: 1.5rem;
}

.infoMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.dataMessage {}

.nbNotifBox {
    background: #ff0000;
    color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    text-align: center;

    display: flex;
    justify-content: center;
}

.nbNotif {}


/*
#####################################
#####################################
            Chat Content
#####################################
#####################################
*/

.contentChat {
    width: 100%;
    background: white;
    overflow: hidden;
}

.ChatBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 0;
    box-sizing: border-box;
}

.headerChat {
    /*height: 5rem; */
    /* display: flex; */
    /*justify-content: center;
    align-items: center;
    /* background: #ced2d9; */
    width: 100%;
    padding: 16px 0;
}

.headerChatInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
   /* background: #ced2d9;*/
    height: 4rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.headerNameUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin-right: 1rem; */
    margin-left: 2rem;

}

.headerIcoUser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    gap: 1rem;

}

.messageContent {
    height: 100%;
    width: 92%;
    /*background: #bbd2fa;*/
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: auto;
}
/*#region*/
.messageContent::-webkit-scrollbar{
    width: 10px;
}
.messageContent::-webkit-scrollbar-track{

}
.messageContent::-webkit-scrollbar-thumb{
    border-radius: 16px;
    background: rgb(176, 175, 175);
}
/*#endregion*/
.inputMessage {
    /*margin-bottom: 2rem;*/
    /*background: burlywood;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    gap: 1rem;
    padding: 16px 0;
    /*height: 2rem;*/
}

.btn_group {
    display: flex;
    gap: .5rem;
    margin-left: 1rem;
}

.inputBox {
    width: 85%;
    
    /*height: 2.1rem;*/
}

.inputBarre {
    width: 100%;
    height: 2.1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 1rem; */
    width: 98%;
    border: none;
    background-color: #dfdfdf;
}

.inputBarre:focus {
    outline: none;
}

.btn_bg {
    background: #ffffff;
    border: none;
}

.btn_radius {
    /*border: 0.1rem solid black;*/
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;

}

.btn_emote {
    background: none;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_send {
    background: none;
    width: 2.2rem;
    height: 2.2rem;
}

.btn_pin {
    background: none;
    width: 2.2rem;
    height: 2.2rem;
}

.btn_Sender {
    background: none;
    /*background: none;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.1rem solid;*/
    border-radius: 2rem;
}

.btn_CallBtn {
    background: none;
    border: none;
    filter: invert(31%) sepia(22%) saturate(318%) hue-rotate(180deg) brightness(98%) contrast(88%);
}

.btn_more {
    background: none;
    border: none;
    filter: invert(31%) sepia(22%) saturate(318%) hue-rotate(180deg) brightness(98%) contrast(88%);
}

.icoPin {
    width: 1.7rem;
}

.icoSmiley {
    height: 2rem;
}

.icoSend {
    border: none;
    background: none;
}

.icoCall {
    width: 20px;
    background: none;
}

.icoMore {
    width: 20px;
}

/*############################*/
/*############################*/
/*############################*/

.ChatBoxMessage {
    background: #AEAEAE;
    height: 100%;
}

.msgBox {
    display: flex;
    /*background: gray;*/
    /*height: 5rem;
    */
    margin: .5rem;
    padding: .5rem;
    padding-bottom: 0;
    /*justify-content: center;
    */
    align-items: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.ownMessage {
    margin-left: 65%;
    justify-content: right;

}

.friendMessage {
    margin-right: 65%;
    min-width: 1rem;
    width: auto;
}

.friendMessage>.msg {
    /*color: white;*/
    background: #cdd4e5;
}

.ownMessage>.msg {
    color: white;
    background: #6399ff;
}

.msg {

    padding: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.date {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    font-size: 0.79rem;
}

.dateFriend {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    font-size: 0.79rem;
}


@media screen and (max-width: 64em) {
    
  .MC{
    
    animation-name: animationMenuBack;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .MO{

    left:-450px;
    animation-name: animationMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

  }

  @keyframes animationMenu {

    0%{
        left:-500px
    }
    100%{
        left:0px;
    }
    
}
@keyframes animationMenuBack {

    0%{
        
        left:0px
    }
    100%{
        left:-500px;
        display: none 
    }
    
}
  .menu{
    display: initial;
    z-index: 2;
  }
  .menu::after{
    position: absolute;
    content: "≡";
    font-size: 32px;
    left: 15px;
  }
    .mainContainer {
        /*display: block;*/
        width: initial;
    }

    .boxContact {
        /*display: none;*/
        
    position: absolute;
    z-index: 1;
    }
   

    .contentChat {
        width: 100%;
        height: auto;

    }
}

@media screen and (max-width: 34em) {
    .boxContact {
    width: 100%;
    }
}